@include tablet{
    .nosotros{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 4rem;
    }
}

@include tablet{
    .contenido-nosotros{
        h4{
            margin: 0;
        }
    }
}